
:root{
  --theme-brand_primary: 0, 110, 255;
  --theme-brand_secondary: 0, 110, 255;
  --theme-brand_gradient: linear-gradient(60deg, rgb(0, 110, 255), rgba(0, 110, 255, 0.9));
  --theme-brand_gradient_webkit: linear-gradient(60deg, rgb(0, 110, 255), rgba(0, 110, 255, 0.9));
}
::-webkit-scrollbar-thumb{background:var(--theme-brand_gradient) !important}


#elFooterLinks li a:hover {
  color: #006EFF !important;
}

.copyright:hover {
  color: #006EFF !important;
}


.theme-header__hero{
  background-image:url('../images.guides/84c1e40ea0e759e3f1505eb1788ddf3c_hero.webp');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.onlineIcon {
	background-image: linear-gradient(to right, #9dff88, #9dff88, #9dff88) !important;
	color: #9dff88 !important;
}

.cOnlineUsers_co > span:first-child {
  color: #9dff88 !important;
}

